
body {
  background: #141414;
  color: #9BF3F0;
  font-family: 'Nunito', sans-serif;
  
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(0.93);
	
}

.movieBox {
	margin: 30px;
}

/* .overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
} */

h4, h5 {
  color: #ffffff;
}

.moviesHeading {
  font-weight: bold;
}

.resultsbody {
	text-align: center;
	justify-content: center;

}

.formControl {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 3px solid #9BF3F0;
	color: white;
	width: 250px;
}

.nominateBtn {
	border-radius: 30px;
	background-color: white;

}

.nominateBtn:hover {
	background-color: #0080ff
}

.removeBtn {
	border-radius: 30px;
	background-color: tomato;
}

.removeBtn:active {
	background-color: tomato;
	box-shadow: 0 5px rgb(71, 66, 66);
	transform: translateY(4px);
}

/* label {
	position: relative;
}

label:before {
	content: "";
	position: absolute;
	left: 10px;
	top: 0;
	bottom: 0;
	width: 20px;
  }

  input {
	padding: 10px 30px;
  } */

img {
	height: 250px;
}

.awardpic {
	height: 200px;
}