
body {
  background: #141414;
  color: #BCF4F5;
  font-family: 'Nunito', sans-serif;
  
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(0.93);
	
}

.movieBox {
	margin: 50px;
}

/* .overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
} */

h4, h5 {
  color: #ffffff;
}

.moviesHeading {
  font-weight: bold;
}

.resultsbody {
	text-align: center;
	justify-content: center;

}

.formControl {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 3px solid #BCF4F5;
	color: white;
	justify-content: right;
}

.nominateBtn {
	border-radius: 30px;

}
/* label {
	position: relative;
}

label:before {
	content: "";
	position: absolute;
	left: 10px;
	top: 0;
	bottom: 0;
	width: 20px;
  }

  input {
	padding: 10px 30px;
  } */